@model DnDManager.Models.Character

@{
    ViewData["Title"] = "Character Details";
}

<h1>Character Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Class</dt>
        <dd class="col-sm-9">@Model.Class</dd>

        <dt class="col-sm-3">Race</dt>
        <dd class="col-sm-9">@Model.Race</dd>

        <dt class="col-sm-3">Level</dt>
        <dd class="col-sm-9">@Model.Level</dd>

        <dt class="col-sm-3">Hit Points</dt>
        <dd class="col-sm-9">@Model.CurrentHp / @Model.MaxHp</dd>

        <dt class="col-sm-3">Armor Class</dt>
        <dd class="col-sm-9">@Model.ArmorClass</dd>

        <dt class="col-sm-3">Initiative Bonus</dt>
        <dd class="col-sm-9">@Model.InitiativeBonus</dd>

        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">@Model.Status</dd>
    </dl>
</div>

<a>EditEdit</a>
<a>IndexBack to List</a>
